#ga-header {
	padding-top: 48px;
}

.author_image {
    width: 120px;
    height: 120px;
    margin: 0 auto 24px;
}

a {
    transition: 0.3s color;
}

i {
    transition: 0.3s color;
}

del:hover {
    background: none;
    transition: 0.3s background;
    color: black;
}

del {
    text-decoration: none;
    background: black;
    color: black;
    transition: 0.3s background;
}

.author_image img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

#ga-header div[first] aside#ga-brand h1 a {
    color:#000000;
}

#ga-header div[first] aside#ga-brand h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 24px;
    margin-top: 24px;
    color: #495057;
}

#ga-vav {
    padding:16px;
}

body {
    line-height: 1.42;
    font-family: 'Noto Serif SC', serif!important;
    letter-spacing: 0.05em;
}

.ga-nav,.navs {
    padding: 16px;
}

.navs a {
    margin: 4px 8px;
    color: #868e96!important;
}

#ga-header div[first] aside#ga-brand h1 a:hover {
    transition: 0.3s color;
}

.ga-section#ga-post_list>ul>li a:hover {
    transition: 0.3s color;
}

.ga-section#ga-pager a[next]:hover,.ga-section#ga-pager a[prev]:hover {
    transition: 0.3s color;
    color: #006CFF;
}

.time {
    text-align: center;
}

.copyright a {
    color: #000000;
    text-decoration: none;
    font-size: 12px;
    font-family: 'Noto Serif SC', serif;
}

.copyright a:hover {
    color: #006CFF;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.copyright span {
    font-size: 12px;
    font-family: 'Noto Serif SC', serif;
}

.index-footer {
    font-size: 12px;
    text-align: center;
    color: #868e96;
    margin-bottom: 30px;
}

.copyright {
    margin: 0;
}

.brand a:hover {
    color: #006CFF!important;
}

.mid:before {
    content: "/ ";
    font-size: 10px;
    color: rgba(0, 0, 0, 0.1);
    margin: 0 4px;
}

span.ga-post_meta {
   color:#5e5e5e!important;
}

.next-post {
    margin-bottom: 24px;
    color: #343a40;
    font-weight: lighter;
}

#ga-content_pager>div.prev::before {
    content: "下一篇";
}

#ga-content_pager>div a:hover {
    color: #006CFF;
    -webkit-transition: 0.3s color;
    transition: 0.3s color;
}

.ba {
    display:block;
}

span.vsys {
    background: #33333312;
}

.cupage {
    padding: 6px 0;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    margin: 0 32px;
}

.cupage:hover {
    border-bottom: 2px solid;
}

.uttpl {
    background-color:#2da44e;
    border-color: rgba(27, 31 ,36 ,0.15);
    box-shadow: 0 1px 0 rgba(27 ,31 ,36 ,0.1),inset 0 1px 0 rgba(255,255,255,0.03);
    transition: .2s cubic-bezier(.3,0,.5,1);
    transition-property: color,background-color,border-color;
    border-radius: 6px;
    height:30px;
    width: 145px;
    margin: 0 auto;
}

a#utp {
    display: flex;
    justify-content: center;
    align-items: center;
    height:30px;
    width: 145px;
    color: #fff;
    font-size: 14px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}

a#utp:hover {
    color: #fff!important;
}

.uttpl:hover {
    background-color:rgb(44 ,151 ,75);
}

.warn {
    padding: .5rem;
    background: rgba(255,0,0,0.07);
    margin-bottom: 1.24em;
}

hr:before {
    color: rgba(0, 0, 0, 0.2);
    font-size: 1.1em;
    display: block;
    content: "* * *";
    text-align: center;
}

@media screen and (prefers-color-scheme: dark) {
    html {
        background: rgb(0,0,0);
    }

    body {
        color: rgb(210,209,217);
    }

    #ga-header div[first] aside#ga-brand h1 a {
        color: rgb(173,186,199);
    }

    #ga-header div[first] aside#ga-brand p, .ga-section#ga-post_list > ul > li time {
        color: #aaaaaa;
    }

    span.ga-post_meta {
        color: #aaaaaa!important;
    }

    .ga-section#ga-post_list > ul > li a, .ga-section#ga-pager > *, .ga-section#ga-pager a, h1.ga-post_title {
        color: rgb(173,186,199);
    }

    .copyright a {
        color: rgb(173,186,199);
    }

    .index-footer {
        color: #aaaaaa;
    }

    .yue a {
        color: rgb(173,186,199);
    }

    #ga-content_pager>div a {
        color: rgb(173,186,199);
    }

    .yue figure figcaption {
        color: #aaaaaa;
    }

    .yue pre {
        background: rgb(29,33,38);
        color:rgb(201,209,217);
    }

    .yue em {
        color: rgb(201,209,217);
    }

    .highlight .l {
        color: rgb(201,209,217);
    }

    .yue pre code {
        color: rgb(173,186,199)!important;
    }

    .yue pre tt {
        color: rgb(210,209,217);
    }

    .v .vbtn {
        color:#aaaaaa!important;
        background:rgb(37,43,53)!important;
        border-color: #333333!important;
    }

    #ga-content_pager>div.prev::before {
        content: "下一篇";
        color: #aaaaaa;
    }

    .v .vlist .vcard .vhead .vsys {
        background: rgb(37,43,53)!important;
    }

    .v .vlist .vcard .vquote {
        border-color: #333333!important;
    }

    .v .vlist .vcard .vh {
        border-color: #333333!important;
    }

    .vat {
        color: #aaaaaa!important;
    }

    .aplayer {
        background: #333333;
    }

    strong {
        color: rgb(164 207 250)!important;
    }

    .ga-content div.links .board-item {
        background: #ffffff05;
    }

    .ga-content div.links .board-item .board-title {
        color: rgb(201,209,217)!important;
    }

    .yue blockquote::before {
        color: #ffffff2e;
    }

    .yue blockquote {
        color: #ffffff82;
    }

    .yue code, .yue tt {
        color: #f6c2d2;
        background-color: #ffffff12;
    }

    .ins-search-input {
        background: rgb(13,17,23);
        border-bottom: 1px solid rgb(13,17,23);
    }

    .ins-search {
        color: rgb(205,217,229);
    }

    .ins-section-container {
        background: rgb(13,17,23);
    }

    .ins-section .ins-section-header {
        border-bottom: 1px solid rgb(13,17,23);
    }

    input {
        caret-color: #fff;
    }

    .aplayer {
        background: rgb(23,27,34)!important;
    }

    .aplayer .aplayer-lrc:before,.aplayer .aplayer-lrc:after {
        background: rgb(23,27,34)!important;
    }

    .aplayer .aplayer-list ol li.aplayer-list-light {
        background: rgb(23,27,34)!important;
    }

    .aplayer .aplayer-list ol li .aplayer-list-author {
        color: #8b8b8b!important;
    }

    .aplayer .aplayer-list ol li:hover {
        background: rgb(69 81 101)!important;
    }

    .aplayer .aplayer-list ol::-webkit-scrollbar-thumb {
        background-color: #00000036!important;
    }

    .aplayer .aplayer-list ol::-webkit-scrollbar-thumb:hover {
        background-color: #c1c1c130!important;
    }

    .aplayer .aplayer-list ol li {
        border-top: 1px solid #505050!important;
    }

    .aplayer.aplayer-withlist .aplayer-info {
        border-bottom: 1px solid #505050!important;
    }

    ::-webkit-scrollbar-thumb {
        background: rgb(68 74 82);
    }
    ::-webkit-scrollbar {
        width: 5px;
    }
    ::-webkit-scrollbar-track {
        background: rgb(13,17,23);
    }

    ::-webkit-scrollbar-thumb:hover {
        background: rgb(84 93 106);
    }

    .v .vlist .vcard .vcontent.expand:after,.v .vlist .vcard .vcontent.expand:before {
        content: none!important;
    }

    .v .vbtn:active, .v .vbtn:hover {
        background: rgb(51,59,71)!important;
        border: 1px solid rgb(83,155,245)!important;
        transition: 0.3s color;
    }

    .v .vlist .vcard .vcontent.expand:before {
        background: linear-gradient(180deg,hsl(0deg 0% 0% / 0%),hsl(0deg 0% 0% / 33%;))!important;
    }

    .v .vlist .vcard .vcontent.expand:after {
        background: hsl(0deg 0% 0% / 33%)!important;
    }

    span.vsys {
        background: #37465a42!important;
    }

    .v[data-class=v] .vcards .vcard .vh {
        border-bottom: 1px dashed #f5f5f51a;
    }

    .v[data-class=v] .vcards .vcard .vquote {
        border-left: 1px dashed #f5f5f51a;
    }
	
	del {
		color:black;
	}
	
	del:hover {
		color:rgb(173,186,199);
	}
	
	.highlight .nx,.highlight .p{
		color: rgb(173,186,199);
	}
	
	.highlight .nf,.highlight .n {
        color: rgb(210,209,217);
	}

	td {
		background: rgb(32 32 32 / 95%);
	}
	
	.yue .notice {
		background: rgb(33,38,45);
	}

    .v[data-class=v] a {
        color: #00a987;
    }

    .v[data-class=v] a:hover {
        color: #d38081;
    }
}